<section class="home_container">
  <div class="home_box">
    <div class="home_title">
      <h2>UFOキャッチャー専用在庫管理表</h2>
      <h1>ZaiFO</h1>
      <p>面倒な在庫・売上管理をこれ１つで完全管理。</p>
    </div>
  </div>
</section>
