<section class="home_container">
  <div class="title_container"></div>
  <div class="animate__animated animate__backInUp animate__slow">
    <%= image_tag('UFO_ARM.png', class: 'ufo_png ') %>
    <div class="home_box animate__animated animate__swing animate__delay-2s">
      <div class="home_title">
        <h2>UFOキャッチャー専用在庫管理表</h2>
        <h1>ZaiFO</h1>
        <p>面倒な在庫・売上管理をこれ１つで完全管理。</p>
      </div>
    </div>
  </div>
</section>
<main>
  <div class="top_main_container">
    <div class="main_item main_item_1">
      <p>入換え作業で景品の個数が<br>分からなくなっちゃった…</p>
    </div>
    <div class="main_item main_item_2">
      <p>各景品の売上が把握出来ない…</p>
    </div>
    <div class="main_item_3">
      <p>UFOキャッチャーの<br>問題をこれ１つで解決！</p>
    </div>
  </div>
  <div>
    ここに在庫管理のデータ表
  </div>
</main>
