.user_container {
  background: #f6f8f9;
}

.user_form {
  background  : #fff;
  max-width   : 880px;
  margin-left : auto;
  margin-right: auto;
  padding     : 32px;
  border      : 1px solid #eaedef
}