// sign_up
.user_container {
  margin-top: 100px;
}
.user_form {
  background  : #fff;
  max-width   : 880px;
  margin-left : auto;
  margin-right: auto;
  padding     : 32px;
  border      : 1px solid #eaedef
}
.user_form_complete {
  background  : #fff;
  max-width   : 880px;
  margin-left : auto;
  margin-right: auto;
  padding     : 32px;
  border      : 1px solid #eaedef;
  text-align  : center;
}
.input-wrap {
  position: relative;
}
.toggle-pass {
  position: absolute;
  top: 57%;
  left: 14%;
  transform: translateY(-50%);
}
.sign_up_confirm {
  background: #f6f8f9;
}
// sign_in

